{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="text-center mb-4">

        <h1>Travel</h1>

        <p class="text-muted">
            Find the perfect place for your next destination.
        </p>

    </div>


    <form method="GET" class="search-bar mb-5">

        <!-- Onde -->

        <div class="search-item">

            <label>Where</label>

            <input type="text" name="location" placeholder="Where are you going?" value="{{ request.GET.location }}">

        </div>


        <!-- Quando -->

        <div class="search-item search-dates">

            <label>When</label>

            <div class="date-fields">
                <div class="date-field">
                    <span>Check-in</span>

                    <input type="date" name="check_in" value="{{ request.GET.check_in }}" min="{{ today }}"
                        onclick="this.showPicker()">
                </div>

                <span class="date-arrow">→</span>

                <div class="date-field">
                    <span>Check-out</span>
                    <input type="date" name="check_out" value="{{ request.GET.check_out }}" onclick="this.showPicker()">

                </div>

            </div>
        </div>

        <!-- Quem -->

        <div class="search-item">

            <label>Who</label>

            <input type="number" name="guests" min="1" placeholder="Select guests"
                value="{{ request.GET.guests }}">

        </div>


        <!-- Pesquisar -->

        <button type="submit" class="search-button">
            <i class="bi bi-search"></i>
        </button>

    </form>


    <div class="row">

        {% for house in houses %}

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

            <a href="{% url 'house_detail' house.id %}" class="text-decoration-none text-dark">

                {% include "components/house_card.html" %}

            </a>

        </div>

        {% empty %}

        <p>No places found.</p>

        {% endfor %}

    </div>

</div>


{% endblock %}