{% extends "base.html" %}

{% block title %}
    Create account | Voya
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-sm">

                <div class="card-body p-4">

                    <h1 class="h3 text-center mb-4">
                        Create account
                    </h1>

                    <form method="post">

                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        <div class="mb-3">

                            <label class="form-label">
                                User
                            </label>

                            {{ form.username }}

                            {{ form.username.errors }}

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                Email
                            </label>

                            {{ form.email }}

                            {{ form.email.errors }}

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                Password
                            </label>

                            {{ form.password }}

                            {{ form.password.errors }}

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                Confirm password
                            </label>

                            {{ form.password_confirm }}

                            {{ form.password_confirm.errors }}

                        </div>


                        <button
                            type="submit"
                            class="btn btn-airbnb w-100"
                        >
                            Create account
                        </button>

                    </form>


                    <div class="text-center mt-4">

                        <p class="text-muted mb-2">
                            Don't have an account yet?
                        </p>

                        <a href="{% url 'login' %}">
                            login
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}